@import url(/css/global.css);

body{
    padding-bottom: 100px;
}


h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

/* Cosassss */
.contenedor{
    width: 100%;
    min-width: var(--largo);
    margin: 50px 0
}

.lista-paquetes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.paquete{
    background-color: var(--color-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    min-width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    gap: 15px;
}

.paquete-foto-muestra{
    width: 200px; height: 200px;
    overflow: hidden;
    border-radius: 10px;
}
.paquete-compra{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0 3% 0 auto;
}


.btn-ver{
    border: none;
    border-radius: 10px;
    background-color: var(--color-3);
    width: 150px;
    padding: 15px 0;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 800px){
    .paquete{
        width: 100%;
    }
}