@import url('/css/global.css');

body{
    background-image: url('/imagenes/fondo/fondo-dibujo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: fit-content;
    height: 100%;
    width: 100%;
}
.container{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    border: var(--color-3) 1px solid;
}

.seccion {
    width: 300px;
    height: 300px;
    padding-top: 50px;
    margin: 30px 30px;
    gap: 20px;
    position: relative;
}
.seccion-titulo{
    position: absolute;
    left: 5%;
    top: 5%;
}
form div{
    margin-bottom: 15px;
}
form input{
    width: 100%;
    border-radius: 15px;
    border: var(--color-3) 1px solid;
}
.btn-form{
    font-size: 15px;
    background-color: var(--color-1);
    color: white;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
}
hr{
    border: var(--color-3) 1px solid;
    color: aqua;
}