@import url(/css/global.css);



header{
    min-width: 800px;
}

.compra{
    padding: 50px 60px;
    min-width: 800px;
}

/* Carrito */
.paquete{
  display: flex;
  flex-direction: row;
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
}
.paquete figure{
  flex: 0 0 auto;
  height: 100%;
  aspect-ratio: 1/1;
}

.paquete > div{
  width: 100%;
  padding: 20px 20px 50px 20px;
  background-color: var(--color-2);
}
.paquete .paquete-detalles{
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.personas-rect{
  background-color: var(--color-5);
}

.btn-ver{
  margin-left: auto;
  background-color: var(--color-3);
  border: none;
  border-radius: 10px;
  font-size: 40px;
  padding: 10px 20px;
}

/* */

.lista-paquetes{
    border: 4px solid var(--color-3);
    border-radius: 10px;
    min-width: 700px;
    width: 100%;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/**/
.pagar{
    position: relative;
    margin-top: 30px;
}
h2{
    font-size: 30px;
}
.formulario{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.formulario p{
    font-size: 20px;
}
select{
    appearance: none;
    font-size: 30px;
    padding: 0 10px;
}
.formulario input{
    font-size: 30px;
    border: none;
    border-radius: 10px;
}

.btn-pagar{
    border: none;
    border-radius: 10px;
    background-color: var(--color-3);
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    margin-left: auto;
}