@import url(../import.css);
header {
    min-width: 100%;
    height: 140px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--color-3) 5px solid;
    background: url('../Imagenes/avion.png') no-repeat center -30px;
    background-color: var(--color-1);
    
}
body{
    padding-bottom: 100px;
}

.usuario{
    width: 100px;
    height: 100px;
    background-color: var(--fondo);
    border-radius: 100px;
}

.paquete-datos{
    width: 800px;
    min-width: 800px;
}
.paquete-img{
    width: 100%;
    height: 300px;
    position: relative;
}

.paquete{
    display: flex;
    flex-direction: row;
}
.paquete-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
}
.paquete-nav div{
    width: 100px;
    height: 40px;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-2);
    cursor: pointer;
}
.paquete-info{
    background-color: var(--color-7);
    width: 100%;
    min-height: 300px;
    padding: 30px 20px;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.paquete-comprar >p{
    text-align: center;
}
.paquete-comprar{
    padding: 50px 35px;
    max-width: 500px;
}
.nombre{
    font-size: 48px;
}
.paquete-total{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
}
.subtitulo{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.btn{
    border-radius: 10px;
    font-size: 36px;
    padding: 10px 0;
    width: 400px;
    border: none;
    margin: 15px 0;
    cursor: pointer;
}
.btn-comprar{

    background-color: var(--color-3);
}
.btn-contactar{
    border: var(--color-8) 3px solid;
    color:  var(--color-8);
    background-color: transparent;
}

.metodos-pago{
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}
.metodo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.metodo-img{
    width: 30px;
}