@import url(/css/global.css);

header{
    min-width: 800px;
}
main{
    position: relative;
    min-width: 800px;
    width: 100%;
}

.img-absolute{
    position: absolute;
    width: 70%;
    height: auto;
    top: 200px;
    right: 500px;
    z-index: 10;
}
.buscador{
    padding: 0 10% 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/imagenes/fondo/fondo-cielo.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: hidden;
    width: 100%;
    height: 300px;
}


.titulo p{
    text-align: center;
    font-size: 50px;
}

.buscador-input p{
    font-size: 30px;
}
.buscador-input div{
    position: relative;
    width: 400px;
    height: 50px;
}
.buscador div > img{
    height: 100%;
    width: auto;
    padding: 10px;
    position: absolute;
    pointer-events: none;

}
.buscador input{
    border-radius: 10px;
    border: none;
    font-size: 30px;
    width: 100%;
    height: 100%;
    padding: 0 0 0 50px;
}

/**/

.carrusel{
    border-top: 3px solid var(--color-fuente);
    height: 500px;
    position: relative;
    background-color: #4e92e0;
}
.slider{
    width: 100%;
    height: 100%;
}

.slider img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: all 5s;
}

.slider img:nth-child(1){
    opacity: 1;
    z-index: 1;
}

/**/
.explorar{
    z-index: 10;
    position: absolute;
    bottom: 0;
    background-color: var(--fondo);
    padding: 10px;
    border-radius: 0 10px 0 0;
}
.explorar p{
    font-size: 40px;
}
.btn-explorar{
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-3);
    cursor: pointer;
}
